<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D variable {{ var }}</title>
</head>
<body>
    <h1> Showing the graph of the variable {{ var }} in {{ unit }} </h1>
    <form>

        {{ y }}: <input type="text" name="yname"><br><br>

        <button type="submit" formmethod="post">Draw Graph</button>
        <input type="button" value="Back" onclick="window.history.back()" />
    </form>
    <!--&lt;!&ndash;<img src= "{{  user_image }}" alt="User Image">&ndash;&gt;-->

    <!--<input type="button" value="Back" onclick="window.history.back()" />-->
</body>
</html>